.article-preview {
  height: 100px;
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  margin-bottom: 22px;
  transition: .4s ease;
}

.article-preview:hover {
  background-color: rgba(80,0,255,0.1);
}


.stab30Player:hover {
  background-color: #5000ff;
}

.article-preview--active {
  background-color: rgba(80,0,255,0.1);
}

.article-preview__image {
  height: 100px;
  width: 100px;
  min-height: 100px;
  min-width: 100px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.article-preview__overlay {
  background: rgba(132, 76, 255, 0.5);
  mix-blend-mode: overlay;
  position: absolute;
  width: 100px;
  height: 100px;
}

.article-preview__content {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 12px;
  margin-right: 12px;
}


/* AUDIO PLAYER */

.stab30Player {
  height: 100px;
  width: 100%;
  position: fixed;
  z-index: 2;
  bottom: 0;
  margin-bottom: 0px;
  background-color: #5000ff;
  -webkit-box-shadow: 0px 4px 25px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 4px 25px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 4px 25px 1px rgba(0, 0, 0, 0.75);
}

.stab30Player .article-preview__image,
.stab30Platyer .article-preview__overlay {
  height: 100px;
  width: 100px;
  min-height: 100px;
  min-width: 100px;
}


.player-art-wrap {
  width: 100px;
  height: 100%;
  background-color: #252525;
  margin-bottom: 0px;
  width: 100%;
}

.social-share-bar {
  display: flex;
  margin-top: 22px;
}

.social-share {
  margin-right: 10px;
}
