@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,700|Roboto');

.fx-row {
  display: flex;
  align-items: center;
}

.fx-end {
  display: flex;
  justify-content: flex-end;
}

.t-mono  {
  font-family: 'Roboto Mono', monospace;
}

.t-serif {
  font-family: 'Roboto', sans-serif;
}

.t-upper {
  text-transform: uppercase;
}

.fc-blue {
  color: #5000FF;
}

.fc-pink {
  color: #FF2986;
}

.fc-grey {
  color: #808080;
}

.f-10 {
  font-size: 10px;
}

.f-12 {
  font-size: 12px;
}

.f-18 {
  font-size: 18px;
}

.f-32 {
  font-size: 32px;
}

.ls-2 {
  letter-spacing: 2px;
}

.fw-400 {
  font-weight: 400;
}

.fw-700 {
  font-weight: 700;
}

.m-r-12 {
  margin-right: 12px;
}

.m-t-22 {
  margin-top: 22px;
}

.fc-white {
  color: white;
}

.bg-grey {
  background-color: #F5F5F5;
}

.bg-white {
  background-color: white;
}

.bg-light-blue {
  background-color: rgba(80,0,255,0.1);
}

.w-30p {
  width: 30px;
  min-width: 30px;
}

.w-40p {
  width: 40px;
  min-width: 40px;
}

.outline-none {
  outline: none;
}

.hover-fade {
  transition: .2s ease;
}

.hover-fade:hover {
  opacity: 0.8;
}
